<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.4.1-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>添加书籍</h1>
            </div>
            <form class="form-horizontal" action="/add_book/" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="book_title" class="col-sm-3 control-label">书籍名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="book_title" name="book_title" placeholder="输入书籍名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="press_list" class="col-sm-3 control-label">出版社名称</label>
                    <div class="col-sm-9">
                        <select name="press_id" id="press_list" class="form-control">
                            {% for press in press_list %}
                                <option value="{{ press.id }}">{{ press.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/static/libs/jquery-3.6.0.js"></script>
<script src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</body>
</html>