<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/try_login/">
    <label for="username">用户名</label>
    <input type="text" id="username" placeholder="请输入用户名">
    <label for="pwd">密码</label>
    <input type="password" id="pwd" placeholder="请输入密码">
    <input type="submit" value="登陆">
    <button type="submit" class="btn btn-success" data-dismiss="modal">登陆</button>


</form>

<form action="https://www.baidu.com/s?">
    <input type="text" name="wd">
    <input type="submit" value="搜索">

</form>

</body>
</html>