<!--分页开始-->
<div>
    <nav aria-label="Page navigation" class="pull-right">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for num in total %}
                {% if num == current_num %}
                    <li class="active"><a href="#">{{ num }}</a></li>
                {% else %}
                    <li><a href="#">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!--分页结束-->