{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
    <title>出版社列表</title>
    <!-- Bootstrap core CSS -->
{#    <link href="/static/bootstrap-3.4.1-dist/css/bootstrap.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <!-- 当前页面用到的自定义样式 -->
    <link href="/static/CSS/dashboard.css" rel="stylesheet">
    {% block CSS %}

    {% endblock %}
</head>

<body>

{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% block press_list_active %}{% endblock %}"><a href="/press_list/">出版社列表</a></li>
                <li class="{% block book_list_active %}{% endblock %}"><a href="/book_list/">书籍列表</a></li>
                <li class="{% block author_list_active %}{% endblock %}"><a href="/author_list/">作者列表</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block page_content %}

            {% endblock %}

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/libs/jquery-3.6.0.js"></script>
<script src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
{% block js %}

{% endblock %}
</body>
</html>